.dialog-tip {
  font-size: 12px;
  color: #fa7a7a;
  margin-left: 80px;
}
.app-container {
  /deep/ {
    .el-dropdown {
      margin-right: 10px;
    }
    .tableData .operation-btn-box .el-dropdown {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
