#app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    // margin-left: $sideBarWidth;
    position: relative;
    min-width: 1260px;
    overflow-x: auto;
  }

  .sidebar-container {
    transition: width 0.28s;
    // width: $sideBarWidth  !important;
    // background-color: $menuBg;
    height: 100%;
    // position: fixed;
    font-size: 0px;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // z-index: 1001;
    overflow: hidden;
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth  !important;
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover  !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}